/* First section starts here */
     
div{
    color: yellow;
    background-color: white;
}
#anonymous{
    font-size: 50px;
    color: black;
}
.godwon{
    font-size: 70%;
    color: #328f63;
}
.frank{
    background-color: blue;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}
.photo{
    width: 400px;
    height: 300px;
    object-fit: fill;
    border-radius: 100px;
}
.frank div{
    padding: 50px;
}
.frank p{
    font-size: 50px;
}
/* First section ends here */